.navbar.affix {
  max-height: 100vh;
  //overflow-y: visible;
}

#contactbar {
  overflow-y: scroll;
  max-height: 90vh;
}

span.important {
  background: hotpink;
  color: black;
}

div[class^="col-"] > div > .img-below:first-child > .img-wrap,
.panel-heading + div > .img-below:first-child .img-wrap {
  margin-top: 0;
}

// space out slider top
body .slick-slider.slider {
  margin-bottom: 2.5em;

  // Link color in slider
  .slick-slide figcaption a {
    color: inherit;
  }
}

.container {
  &.header + .content {
    margin-top: 2.5em;
  }
}

.panel-body {
  .news .article .news-img-wrap img {
    width: 100%;
  }
}

// Facebook
//

#sti a.faceboooohoook {
  background-color: #6979ea;
  margin-right: 15px;
  font-size: 1.5rem;
  color: white;
  padding: 6px 16px;
}

@import "ext/ahrapp_powermail";
@import "ext/tx_scwcontacts";