.navbar.affix {
    max-height: 100vh;
    overflow-y: scroll;
}

span.important {
    background: hotpink;
    color: black;
}

.panel-heading + div > .img-left.img-below:first-child .img-wrap{
    margin-top: 0;
}