
// SCW contacts
//

.tx-scwcontacts {
  .tx-scwcontacts big {
    .row {
      display: flex;
    }
  }
}

@media screen and (min-width: 691px) {
  .tx-scwcontacts {
    .row {
      .item:nth-child(2n+1) {
        clear: both;
      }
    }
  }
}

@media screen and (min-width: 893px) {
  .tx-scwcontacts {
    .row {
      .item:nth-child(2n+1) {
        clear: inherit;
      }
      .item:nth-child(4n+1) {
        clear: both;
      }
    }
  }
}